<body  class="body">
    <div class="container bootstrap-wrapper text-center">
    <pre style="font-weight:bold; font-size:larger;">Thank you for visiting our site. 
    Our endeavour is to offer the best of services to our customers and keep 
    them informed of the latest in My Bank.</pre>
    <table class="table table-striped">
        <thead style="font-size:larger;">
            <tr>
                <th>Divison</th>
                <th>Contact Numbers</th>
                <th>E-mail ID</th>
            </tr>      
        </thead>
        <tbody style="font-weight:bold; font-size:medium">
            <tr>
                <td> Customer Care Divison</td> 
                <td><pre>Toll Free No. 
    1800 180 2222
    1800 103 2222
    Tolled No. 0120-2490000
    Landline :011-28044907</pre></td>
               
              <td>care.india@mybank.co.in </td> 
            </tr>
        </tbody>
    </table>
    </div>
    <div class="conatiner text-center bootstrap-wrapper">
        <button style="margin-left: 10px;" mat-raised-button color="accent">Submit Complaint</button>
    
        <button style="margin-left: 10px;" mat-raised-button color="accent">Submit Suggestion</button>
    </div>
    </body>