  <h2 style="text-align:center">Home</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYeHMwuNh-wFxoMFfYlFI3m2DtWzb0ItYLQCQjoP1Cxi2TgVIe2ElyctXHXf-LxDPIdUM&usqp=CAU" alt="Jane" style="width:100%">
        <div class="container">
          <p><button class="button" routerLink="/dashboard/accounts">Accounts</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNsXXQ0BllZYQU3kyvJPTvTUfiihKOun01bm8jn6fkxnSbJ7Z6VRU_RdOn8Sl3kvF4i8A&usqp=CAU" alt="Mike" style="width:100%">
        <div class="container">
          <p><button class="button" routerLink="/dashboard/transaction">Transactions</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROR-mpCewOKI4jYG0vfJvCXf1rtL2w85i9zA&usqp=CAU">
        <div class="container">
          <p>Ongoing and upcoming Offers would be displayed here</p>
        </div>
      </div>
    </div>
  </div>
  