<app-navbar></app-navbar>
<body>
<div class="bootstrap-wrapper">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10 body ">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>

</div>
</body>



<!-- <body class="align">
  <div class="conatainer bootstrap-wrapper">
    <div class="sec heading">
      <div class="container text-center">
        <img class="img-fluid mt " style="width: 100px "src="/assets/balance.png" alt="">
    </div>
      <button style="margin-left: 10px ;"color="accent" type="submit" mat-raised-button routerLink="/registration">Balance Enquiry</button>
    </div>
    <div class="sec heading">
      <div class="container text-center">
        <img class="img-fluid mt " style="width: 100px "src="/assets/deposit.png" alt="">
    </div>
    <button style="margin-left: 10px ;"color="accent" type="submit" mat-raised-button routerLink="/registration">Deposit</button>
    </div>
    <div class="sec heading">
      <div class="container text-center">
        <img class="img-fluid mt " style="width: 100px "src="/assets/transfer.png" alt="">
    </div>
    <button style="margin-left: 10px ;"color="accent" type="submit" mat-raised-button routerLink="/registration">Transfer</button>

    </div>
    <div class="sec heading">
      <div class="container text-center">
        <img class="img-fluid mt " style="width: 100px "src="/assets/withdraw.png" alt="">
    </div>
    <button style="margin-left: 10px ;"color="accent" type="submit" mat-raised-button routerLink="/registration">Withdraw</button>
    </div>
    </div>
</body> -->