body {
    background-image: url("https://thumbs.dreamstime.com/z/online-banking-banner-website-internet-mobile-phone-blue-background-electronic-bank-payment-copy-space-digital-204929150.jpg");
    margin: 0px;
    min-height: 100%;
    width: 100%;
  }


  .example-spacer{
    flex:1 1 auto;

}
.mt30{
  margin-top: 30px;
}



  
.example-card {
  background-color: rgb(149, 149, 219);

}
.main-div{
  height:100vh;
  display: flex;
  justify-content:baseline;
  align-items:stretch;
}


